@model IEnumerable<StudentManagementSystem.Models.StudentModel>

@{
    ViewBag.Title = "Student List";
}

<h2>Student List</h2>

<table class="table">
    <thead>
        <tr>
            <th>Student Number</th>
            <th>Student Name</th>
            <th>Date of Birth</th>
            <th>Tawjehi Average</th>
            <th>School Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model)
        {
            <tr>
                <td>@student.StudentNumber</td>
                <td>@student.StudentName</td>
                <td>@student.DateofBirth.ToShortDateString()</td>
                <td>@student.TawjehiAverage</td>
                <td>@student.SchoolName</td>
            </tr>
        }
    </tbody>
</table>
